#root {
  text-align: center;
}

.grey {
  color: #918e9b;
}

.font-weight-600 {
  font-weight: 600;
}

/* --------------------------------- navbar --------------------------------- */

.navbar {
  height: 4rem;
  display: flex;
  padding: 1.3rem 2.3rem;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
  max-width: 13rem;
}

/* ------------------------------ hero section ------------------------------ */

.hero {
  display: flex;
  flex-direction: column;
}

.hero__img {
  max-width: 100%;
}

.hero__txt-container {
  text-align: left;
}

.hero__txt-body {
  max-width: 20rem;
}

/* ---------------------------- experience cards ---------------------------- */

.card {
  position: absolute;
  margin: 0 2.3rem;
}

.card__img-container > img {
  border-radius: 9px;
}

.card__experience-status {
  padding: 0.5rem;
  background-color: #fff;
  width: fit-content;
  position: relative;
  top: -360px;
  left: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1rem;
}

.card__experience-info {
  margin-top: -4rem;
  text-align: left;
}

.card__experience-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__star-img {
  width: 1rem;
  height: 1rem;
}

.card__rating-text--grey-font {
  color: #918e9b;
  font-weight: 300;
}

.card__experience-description {
  margin-top: 0;
}

.card__experience-price--bold {
  font-weight: 600;
}
